<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">

	<select id="loginEmployee" parameterType="Employee" resultType="Employee">
		SELECT A.*,
		       B.DEP_NAME,
		       C.POS_NAME
		FROM EMPLOYEE A
		LEFT OUTER JOIN DEPARTMENT B
		    ON A.DEP_NO = B.DEP_NO
		LEFT OUTER JOIN JOB_POSITION C
		    ON A.POS_NO = C.POS_NO
		WHERE A.EMP_ID = #{empId}
		AND A.STATUS = 'Y'
	</select>
	
	<insert id="insertEmployee" parameterType="Employee">
		INSERT ALL 
		INTO EMPLOYEE(EMP_NO, EMP_NAME, EMP_ID, EMP_PWD, EMP_EMAIL, EMP_PHONE, CATEGORY, STATUS)
   		VALUES(SEQ_EMP.NEXTVAL, #{empName}, #{empId}, #{empPwd}, #{empEmail}, #{empPhone}, DEFAULT, DEFAULT)
   		INTO PERSONNEL_CHART(EMP_NO, HIRE_DATE)
		VALUES(SEQ_EMP.CURRVAL, SYSDATE)
        SELECT * FROM DUAL
	</insert>
	
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(EMP_ID)
		FROM EMPLOYEE
		WHERE EMP_ID = #{empId}
	</select>
	
	<update id="updateEmp" parameterType="Employee">
		UPDATE EMPLOYEE SET EMP_EMAIL = #{empEmail},
								OFFICE_TEL = #{officeTel}, 
								EMP_PHONE = #{empPhone}, 
								EMP_LOC = #{empLoc} 
								WHERE EMP_ID = #{empId}
	</update>
	
	
	<!-- 출근체크 -->
	<insert id="insertStart" parameterType="WorkingDay">
		INSERT INTO WORKINGDAY
		(WORK_NO, EMP_NO, TODAY, START_TIME, STATUS)
		VALUES(SEQ_WORK.NEXTVAL, #{empNo}, SYSDATE, #{startTime}, 'Y')
	</insert>
	
	<!-- 퇴근체크 -->
	<update id="updateFinish" parameterType="WorkingDay">
		UPDATE WORKINGDAY SET FINISH_TIME = #{finishTime},
							  WORK_HOUR = TO_TIMESTAMP(#{finishTime},'HH24:MI:SS') - TO_TIMESTAMP(#{startTime},'HH24:MI:SS') WHERE TO_CHAR(TO_DATE(TODAY, 'YY/MM/DD'), 'YYYY"년 "MM"월 "DD"일 ("DY")"') = #{today} AND EMP_NO = #{empNo}
	</update>
	<!-- 근태정보 -->
	<select id="selectWorkingInfo" parameterType="WorkingDay" resultType="WorkingDay">
		SELECT * FROM WORKINGDAY WHERE EMP_NO = #{empNo} ORDER BY TODAY
	</select>
	<!-- 주소록 -->
	<select id="selectEmpAddress" parameterType="Employee" resultType="Employee" >
		SELECT A.EMP_NAME, A.EMP_ID, B.POS_NAME, C.DEP_NAME
		FROM EMPLOYEE A
		LEFT JOIN JOB_POSITION B ON A.POS_NO = B.POS_NO
		LEFT JOIN DEPARTMENT C ON A.DEP_NO = C.DEP_NO
		<![CDATA[WHERE A.STATUS = 'Y' AND A.EMP_ID != 'admin']]>
	</select>
	
	<insert id="updateImg" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ANO.NEXTVAL, #{empNo}, NULL, 1, #{originName}, #{changeName}, #{filePath}, DEFAULT, DEFAULT)
	</insert>
</mapper>
