<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">
	<resultMap type="Mail" id="MailMap">
		<result column="MAIL_TITLE" property="mailTitle"/>
		<result column="FILE_NAME" property="fileName"/>
		<result column="MAIL_CONTENT" property="mailContent"/>
	</resultMap>
		<resultMap type="Employee" id="EmployeeMap">
		<result column="EMP_NAME" property="empName"/>
	</resultMap>
	<resultMap type="ReceiveMail" id="ReceiveMailMap">
		<id column="RECEIVE_NO" property="receiveNo"/>
		<result column="MAIL_NO" property="mailNo"/>
		<result column="EMP_NO" property="empNo"/>
		<result column="RECEIVER" property="receiver"/>
		<result column="STATUS" property="status"/>
		<result column="STAR_MAIL" property="starMail"/>
		<result column="TIMESTAMP" property="timestamp"/>
		<result column="CONFIRM_MAIL" property="confirmMail"/>
		<result column="RECEIVE_STATUS" property="receiveStatus"/>
		<collection property="Mail" resultMap="MailMap"/>
		<collection property="Employee" resultMap="EmployeeMap"/>
	</resultMap>

	<insert id="insertAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ANO.NEXTVAL, #{empNo}, NULL, 7, #{originName}, #{changeName}, #{filePath}, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="insertMail" parameterType="Mail">
		INSERT ALL
		INTO MAIL VALUES(SEQ_MAIL.NEXTVAL, #{empNo}, #{mailTitle}, #{mailTo}, #{mailRef}, #{mailSec}, #{fileName}, TO_CHAR(SYSDATE, 'MM/DD HH24:MI'), #{mailContent}, DEFAULT, DEFAULT)
		INTO SENDMAIL VALUES(SEQ_MAIL.CURRVAL, #{empNo}, TO_CHAR(SYSDATE, 'MM/DD HH24:MI'), DEFAULT)
		SELECT * FROM DUAL
	</insert>
	<!-- 보낸메일List 페이지 수 -->
	<select id="selectSendListCount" resultType="_int">
		SELECT COUNT(*) FROM RECEIVEMAIL WHERE EMP_NO = #{empNo}
	</select>
	
	<!-- 보낸메일 List -->
	<select id="selectSendList" resultMap="ReceiveMailMap">
		SELECT A.*, B.EMP_NAME, C.MAIL_TITLE, C.FILE_NAME FROM RECEIVEMAIL A 
		LEFT JOIN EMPLOYEE B ON A.RECEIVER = B.EMP_NO
		LEFT JOIN MAIL C ON A.MAIL_NO = C.MAIL_NO
		WHERE A.EMP_NO = #{empNo} AND A.RECEIVE_STATUS = 'Y' AND RECEIVER != 0
		ORDER BY A.MAIL_NO DESC
	</select>
	
	<!-- 보낸메일List 삭제 -->
	<update id="updateTrashMail" parameterType="ReceiveMail">
		UPDATE RECEIVEMAIL
		SET RECEIVE_STATUS = 'N'
		WHERE RECEIVE_NO IN (#{receiveNo})
	</update>
	
	<!-- 휴지통List -->
	<select id="selectDeleteList" resultMap="ReceiveMailMap">
		SELECT A.*, B.EMP_NAME, C.MAIL_TITLE, C.FILE_NAME FROM RECEIVEMAIL A 
		LEFT JOIN EMPLOYEE B ON A.RECEIVER = B.EMP_NO
		LEFT JOIN MAIL C ON A.MAIL_NO = C.MAIL_NO
		WHERE A.EMP_NO = #{empNo} AND A.RECEIVE_STATUS = 'N'
		ORDER BY A.MAIL_NO DESC
	</select>
	
	<!-- 받은메일List 페이지 수 -->
	<select id="selectReceiveListCount" resultType="_int">
		SELECT COUNT(*) FROM RECEIVEMAIL WHERE RECEIVER = #{empNo}
	</select>
	
	<!-- 받은메일 List -->
	<select id="selectReceiveList" resultMap="ReceiveMailMap">
		SELECT A.*, B.EMP_NAME, C.MAIL_TITLE, C.FILE_NAME FROM RECEIVEMAIL A 
		LEFT JOIN EMPLOYEE B ON A.EMP_NO = B.EMP_NO
		LEFT JOIN MAIL C ON A.MAIL_NO = C.MAIL_NO
		WHERE RECEIVER = #{empNo}
		ORDER BY A.MAIL_NO DESC
	</select>
</mapper>
