<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
	<select id="selectNoticeList" resultType="Notice" parameterType="_int">
		SELECT * 
		FROM (
			SELECT ROW_NUMBER() OVER(ORDER BY A.CREATE_DATE DESC) AS ROW_NUM, A.NOTICE_NO, A.NOTICE_TITLE, A.NOTICE_CONTENT,
			        B.EMP_NAME NOTICE_WRITER, D.POS_NAME, A.CREATE_DATE, A.COUNT, C.CHANGE_NAME, A.STATUS
			FROM NOTICE A
			JOIN EMPLOYEE B ON (A.NOTICE_WRITER = B.EMP_NO)
			LEFT OUTER JOIN ATTACHMENT C ON (A.NOTICE_NO = C.REF_NO AND A.CATEGORY = C.CATEGORY)
			LEFT OUTER JOIN JOB_POSITION D ON (B.POS_NO = D.POS_NO)
			) A
			WHERE A.STATUS = 'Y'
		<![CDATA[AND ROWNUM <= #{rownum}]]>
	</select>
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE
		VALUES(SEQ_NOTI.NEXTVAL, #{noticeWriter}, #{noticeTitle}, #{noticeContent},
				DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<insert id="insertAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ANO.NEXTVAL, #{empNo}, SEQ_NOTI.CURRVAL, 5, #{originName}, #{changeName}, #{filePath}, DEFAULT, DEFAULT)	
	</insert>
	<update id="increaseCount" parameterType="_int">
		UPDATE NOTICE
		SET COUNT = COUNT + 1
		WHERE NOTICE_NO = #{noticeNo}
		AND STATUS = 'Y'
	</update>
	<select id="selectNotice" parameterType="_int" resultType="Notice">
		SELECT A.NOTICE_NO, A.NOTICE_TITLE, A.NOTICE_CONTENT,
        B.EMP_NAME NOTICE_WRITER, A.CREATE_DATE, A.COUNT, C.CHANGE_NAME, C.ORIGIN_NAME
		FROM NOTICE A
		JOIN EMPLOYEE B ON (A.NOTICE_WRITER = B.EMP_NO)
		LEFT OUTER JOIN ATTACHMENT C ON (A.NOTICE_NO = C.REF_NO AND A.CATEGORY = C.CATEGORY)
		WHERE A.STATUS = 'Y'
        AND A.NOTICE_NO = #{noticeNo}
	</select>
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET NOTICE_TITLE = #{noticeTitle},
			NOTICE_CONTENT = #{noticeContent}
		WHERE STATUS = 'Y'
		AND NOTICE_NO = #{noticeNo}
	</update>
	<update id="updateAttachment" parameterType="Attachment">
		MERGE INTO
			ATTACHMENT A
		USING DUAL
		ON (A.REF_NO = #{refNo} AND A.EMP_NO = #{empNo} AND A.CATEGORY = 5)
		WHEN MATCHED THEN
		UPDATE SET
			A.ORIGIN_NAME = #{originName},
			A.CHANGE_NAME = #{changeName},
			A.FILE_PATH = #{filePath},
			A.UPLOAD_DATE = SYSDATE
		WHEN NOT MATCHED THEN
		INSERT (FILE_NO, EMP_NO, REF_NO, CATEGORY, ORIGIN_NAME, 
				CHANGE_NAME, FILE_PATH, UPLOAD_DATE, STATUS)
		VALUES(SEQ_ANO.NEXTVAL, #{empNo}, #{refNo}, 5, #{originName}, 
			#{changeName}, #{filePath}, DEFAULT, DEFAULT)
	</update>
	<delete id="deleteNotice" parameterType="_int">
		DELETE FROM NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</delete>
	<delete id="deleteAttachment" parameterType="_int">
		DELETE FROM ATTACHMENT
		WHERE REF_NO = #{noticeNo}
		AND CATEGORY = 5
	</delete>
</mapper>
