<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reserveMapper">


	<!-- 회의실 목록 불러오기 -->
	<select id="getRoomList" resultType="Resources">
		<![CDATA[
		SELECT 		* 
		FROM 		RESOURCE_ENTERPRISE A
		WHERE 		RC_NO = 1 
					AND STATUS <> 'N'
		ORDER BY 	RSC_NO
		]]>
	</select>
	<!-- 비품 목록 불러오기 -->
	<select id="getSupplyList" resultType="Resources">		
		<![CDATA[
		SELECT 		* 
		FROM 		RESOURCE_ENTERPRISE A
		WHERE 		RC_NO = 2 
					AND STATUS <> 'N'
		ORDER BY 	RSC_NO
		]]>
	</select>
	
	<!-- 자원 조회/추가/수정/삭제 -->
	<select id="getRscList" resultType="Resources">
        SELECT 		* 
		FROM 		RESOURCE_ENTERPRISE
		WHERE		STATUS = 'Y'
        ORDER BY    RC_NO, RSC_NAME
	</select>
	<insert id="insertRsc" parameterType="Resources">
		INSERT 
		INTO 	RESOURCE_ENTERPRISE
				(RSC_NO, RC_NO, RSC_NAME, RSC_ETC, STATUS)
		VALUES 	(SEQ_RSC.NEXTVAL, #{rcNo}, #{rscName}, #{rscEtc}, DEFAULT)
	</insert>
	<update id="updateRsc" parameterType="Resources">
		UPDATE 	RESOURCE_ENTERPRISE
		SET		RSC_NAME = #{rscName},
				RSC_ETC = #{rscEtc},
				STATUS = #{status}
		WHERE 	RSC_NO = #{rscNo}
	</update>
	<update id="deleteRsc" parameterType="Resources">
		UPDATE 	RESOURCE_ENTERPRISE
		SET		STATUS = 'N'
		WHERE 	RSC_NO = #{rscNo}
	</update>
	
	<select id="getRezList" resultType="Reservation">
		SELECT 	  A.REZ_NO
                , A.RSC_NO
                , A.REZ_WRITER
                , A.REZ_TITLE
                , A.START_TIME
                , A.END_TIME
                , A.STATUS
                , B.RSC_NAME
                , C.EMP_NAME
		FROM	RESERVATION A
		JOIN    RESOURCE_ENTERPRISE B ON A.RSC_NO = B.RSC_NO
        JOIN    EMPLOYEE C ON A.REZ_WRITER = C.EMP_NO
        WHERE	A.STATUS != 'D'
	</select>
	<insert id="insertReserve" parameterType="Reservation">
		INSERT 
		INTO 	RESERVATION
				(REZ_NO, RSC_NO, REZ_WRITER, REZ_TITLE, START_TIME, END_TIME, STATUS)
		VALUES 	(SEQ_RNO.NEXTVAL, #{rscNo}, #{rezWriter}, #{rezTitle}
		, TO_DATE(REPLACE(#{startTime},'T',' '),'YYYY-MM-DD HH24:MI:SS')
		, TO_DATE(REPLACE(#{endTime},'T',' '),'YYYY-MM-DD HH24:MI:SS')
		, DEFAULT)
	</insert>
	<select id="myRezList" parameterType="_int" resultType="Reservation">
		SELECT		A.REZ_NO
					, A.RSC_NO
					, A.REZ_WRITER
					, A.REZ_TITLE
					, TO_CHAR(A.START_TIME, 'YYYY-MM-DD HH24:MI:SS') AS START_TIME
					, TO_CHAR(A.END_TIME, 'YYYY-MM-DD HH24:MI:SS') AS END_TIME
					, A.STATUS
					, B.RSC_NAME
		FROM		RESERVATION A
		JOIN    	RESOURCE_ENTERPRISE B ON A.RSC_NO = B.RSC_NO
		WHERE		REZ_WRITER = #{empNo}
		ORDER BY	A.START_TIME DESC
	</select>
	<update id="returnReserve" parameterType="Resources">
		UPDATE 	RESERVATION
		SET		STATUS = 'N'
		WHERE 	REZ_NO = #{rezNo}
	</update>
	<update id="cancleReserve" parameterType="Resources">
		UPDATE 	RESERVATION
		SET		STATUS = 'C'
		WHERE 	REZ_NO = #{rezNo}
	</update>
</mapper>
