<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.uni.spring.employee.model.dto.Employee" alias="Employee"/>
		<typeAlias type="com.uni.spring.approval.model.dto.Approval" alias="Approval"/>
		<typeAlias type="com.uni.spring.employee.model.dto.WorkingDay" alias="WorkingDay"/>
		<typeAlias type="com.uni.spring.common.dto.Attachment" alias="Attachment"/>
		<typeAlias type="com.uni.spring.employee.model.dto.TimeOff" alias="TimeOff"/>
		<typeAlias type="com.uni.spring.employee.model.dto.TimeOffContent" alias="TimeOffContent"/>
		<typeAlias type="com.uni.spring.hr.model.dto.Hr" alias="Hr"/>
		<typeAlias type="com.uni.spring.employee.model.dto.Department" alias="Department"/>
		<typeAlias type="com.uni.spring.mail.model.dto.Mail" alias="Mail"/>
		<typeAlias type="com.uni.spring.mail.model.dto.ReceiveMail" alias="ReceiveMail"/>
		<typeAlias type="com.uni.spring.employee.model.dto.JobPosition" alias="JobPosition"/>
		<typeAlias type="com.uni.spring.approval.model.dto.Opinion" alias="Opinion"/>
		<typeAlias type="com.uni.spring.notice.model.dto.Notice" alias="Notice"/>
		<typeAlias type="com.uni.spring.reservation.model.dto.Reservation" alias="Reservation"/>
		<typeAlias type="com.uni.spring.reservation.model.dto.Resources" alias="Resources"/>
		<typeAlias type="com.uni.spring.anonym.model.dto.AnonymBoard" alias="AnonymBoard"/>
		<typeAlias type="com.uni.spring.communication.model.dto.Communication" alias="Communication"/>
	</typeAliases>
	<mappers>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/approval-mapper.xml"/>
		<mapper resource="/mappers/manager-mapper.xml"/>
		<mapper resource="/mappers/mail-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/anonymBoard-mapper.xml"/>
		<mapper resource="/mappers/reserve-mapper.xml"/>
		<mapper resource="/mappers/communication-mapper.xml"/>
	</mappers>
</configuration>